<div class="user-account-nav user-account-sidebar">
    <div class="user-nav-list">
        <ul>
            <li class="active"><a href="{% url 'custDashboard' %}"><i class="icon-dashboard3"></i>Dashboard</a></li>
            <li><a href="buyer-orders.html" class="btn-edit-profile"><i class="icon-add_shopping_cart"></i>My Orders</a></li>
            <li><a href="buyer-account-setting.html"><i class="icon-build"></i>Profile Settings</a></li>
            <li><a id="profile_delete" href="#"><i class="icon-unlock-alt"></i>Change Password</a></li>
            <li><a href="{% url 'login' %}"><i class="icon-log-out"></i>Sign out</a></li>
        </ul>
    </div>
</div>